---
layout: default
---

<div data-animate="fadeRight" class="layout-single-column">
  <h2 class="heading"><span>{{page.title}}</span></h2>
  {{content}}
  {% if page.next_page or page.previous_page  %}
  <nav aria-label="Page navigation">
    <ul class="pagination fadeUp">
      <li class="page-item"><a class="page-link" href="/portfolio/{{page.previous_page}}/">Previous</a></li>
      <li class="page-item"><a class="page-link" href="/portfolio/{{page.next_page}}/">Next</a></li>
    </ul>
  </nav>
  {% endif %}
</div>

<div data-animate="fadeLeft" class="layout-single-column mt-5">
  <h2 class="heading"><span>Client Work</span></h2>
  <div id="recent-portfolio-container" class="portfolio-picks">
    <ul class="list-unstyled row no-gutters clearfix" id="recent-portfolio">
      {% for post in site.portfolio reversed %}
      <li class="col-6 portfolio-item mb-4">
        <a class="portfolio-item-inner d-block mr-4" href="/portfolio/{{ post.slug }}/">
          <h6 class="h6"><span>{{ post.title }}:</span> <small>{{ post.description }}</small></h6>
          <span class="thumbnail img-rounded d-block" alt="{{ post.title }}"  style="background-image: url('{{ post.image }}');"></span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <h2 class="heading"><span>Personal Projects</span></h2>
  <div id="recent-project-container" class="portfolio-picks">
    <ul class="list-unstyled row clearfix" id="recent-portfolio">
      {% for post in site.projects reversed %}
      <li class="col-12 portfolio-item mb-5">
        <a class="portfolio-item-inner d-block {% cycle 'odd', 'even' %}" href="/portfolio/{{ post.slug }}/">
          <h6 class="h4"><span>{{ post.title }}:</span> <small>{{ post.description }}</small></h4>
            <span class="thumbnail img-rounded d-block" alt="{{ post.title }}"  style="background-image: url('{{ post.image }}');"></span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
