---
layout: default
---

<div class="layout-single-column fadeRight main-content">
  <h2 class="heading"><span>{{page.title}}</span></h2>
    {{content}}
    {% if page.next_page or page.previous_page  %}
    <nav aria-label="Page navigation">
        <ul class="pagination fadeUp">
            <li class="page-item"><a class="page-link" href="/portfolio/{{page.previous_page}}/">Previous</a></li>
            <li class="page-item"><a class="page-link" href="/portfolio/{{page.next_page}}/">Next</a></li>
        </ul>
    </nav>
    {% endif %}

  <div class="layout-single-column fadeLeft mt-5">
    <h2 class="heading"><span>Client Work</span></h2>
      <div id="recent-portfolio-container" class="portfolio-picks">
          <ul class="list-unstyled row clearfix" id="recent-portfolio">
          {% for post in site.portfolio reversed %}
              <li class="col-6 portfolio-item">
                  <a class="thumbnail img-rounded" alt="{{ post.title }}" href="/portfolio/{{ post.slug }}/" style="background-image: url('{{ post.image }}');">
                      <p><span>{{ post.title }}:</span> <small>{{ post.description }}</small></p>
                  </a>
              </li>
          {% endfor %}
          </ul>
      </div>

      <h2 class="heading"><span>Personal Projects</span></h2>
      <div id="recent-project-container" class="portfolio-picks">
          <ul class="list-unstyled row clearfix" id="recent-portfolio">
          {% for post in site.projects reversed %}
              <li class="col-6 portfolio-item">
                  <a class="thumbnail img-rounded" alt="{{ post.title }}" href="/portfolio/{{ post.slug }}/" style="background-image: url('{{ post.image }}');">
                      <p><span>{{ post.title }}:</span> <small>{{ post.description }}</small></p>
                  </a>
              </li>
          {% endfor %}
          </ul>
      </div>
  </div>
</div>
