/*
==============================================
fadeIn
==============================================
*/


.fadeIn{
	animation-name:fadeIn;
	-webkit-animation-name: fadeIn;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

/*
==============================================
fadeDown
==============================================
*/


.fadeDown{
	animation-name:fadeDown;
	-webkit-animation-name: fadeDown;

	animation-duration: 0.8s;
	-webkit-animation-duration: 0.8s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes fadeDown {
	0% {
		transform: translateY(-15%);
		opacity:0;
	}
	100% {
		transform: translateY(0%);
		opacity:1;
	}
}

@-webkit-keyframes fadeDown {
	0% {
		-webkit-transform: translateY(-15%);
		opacity:0;
	}
	100% {
		-webkit-transform: translateY(0%);
		opacity:1;
	}
}

/*
==============================================
fadeUp
==============================================
*/


.fadeUp{
	animation-name: fadeUp;
	-webkit-animation-name: fadeUp;

	animation-duration: 0.8s;
	-webkit-animation-duration: 0.8s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes fadeUp {
	0% {
		transform: translateY(15%);
		opacity:0;
	}
	100% {
		transform: translateY(0%);
		opacity:1;
	}
}

@-webkit-keyframes fadeUp {
	0% {
		-webkit-transform: translateY(15%);
		opacity:0;
	}
	100% {
		-webkit-transform: translateY(0%);
		opacity:1;
	}
}

/*
==============================================
fadeLeft
==============================================
*/


.fadeLeft{
	animation-name: fadeLeft;
	-webkit-animation-name: fadeLeft;

	animation-duration: 0.8s;
	-webkit-animation-duration: 0.8s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes fadeLeft {
	0% {
		transform: translateX(15%);
		opacity:0;
	}
	100% {
		transform: translateX(0%);
		opacity:1;
	}
}

@-webkit-keyframes fadeLeft {
	0% {
		-webkit-transform: translateX(15%);
		opacity:0;
	}
	100% {
		-webkit-transform: translateX(0%);
		opacity:1;
	}
}

/*
==============================================
fadeRight
==============================================
*/


.fadeRight{
	animation-name: fadeRight;
	-webkit-animation-name: fadeRight;

	animation-duration: 0.8s;
	-webkit-animation-duration: 0.8s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes fadeRight {
	0% {
		transform: translateX(-15%);
		opacity:0;
	}
	100% {
		transform: translateX(0%);
		opacity:1;
	}
}

@-webkit-keyframes fadeRight {
	0% {
		-webkit-transform: translateX(-15%);
		opacity:0;
	}
	100% {
		-webkit-transform: translateX(0%);
		opacity:1;
	}
}


/*
==============================================
fadeScale
==============================================
*/

.fadeScale{
	animation-name: fadeScale;
	-webkit-animation-name: fadeScale;

	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes fadeScale {
	0% {
		transform: scale(0.7);
		opacity: 0.0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes fadeScale {
	0% {
		-webkit-transform: scale(0.7);
		opacity: 0.0;
	}

	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}



/*
==============================================
pulse
==============================================
*/

.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.8);
		opacity: 0.7;
	}
	50% {
		transform: scale(1.1);
		opacity: 1;
	}
	100% {
		transform: scale(0.8);
		opacity: 0.7;
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.8);
		opacity: 0.7;
	}
	50% {
		-webkit-transform: scale(1.1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0.8);
		opacity: 0.7;
	}
}

/*
==============================================
swing
==============================================
*/

.swing{
	animation-name: swing;
	-webkit-animation-name: swing;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes swing {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(50%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes swing {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(50%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}


/*
==============================================
sway
==============================================
*/

.sway{
	animation-name: sway;
	-webkit-animation-name: sway;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes sway {
	0% {
		transform: rotate(-8deg);
	}
	50% {
		transform: rotate(8deg);
	}
	100% {
		transform: rotate(-8deg);
	}
}

@-webkit-keyframes sway {
	0% {
		-webkit-transform: rotate(-8deg);
	}
	50% {
		-webkit-transform: rotate(8deg);
	}
	100% {
		-webkit-transform: rotate(-8deg);
	}
}

/*
==============================================
spin2x
==============================================
*/


.spin2x {
	-webkit-animation: spin 25s infinite linear;
	-moz-animation: spin 25s infinite linear;
	-ms-animation: spin 25s infinite linear;
	-o-animation: spin 25s infinite linear;
	animation: spin 25s infinite linear;
}

/*
==============================================
spin
==============================================
*/


.spin {
	-webkit-animation: spin 50s infinite linear;
	-moz-animation: spin 50s infinite linear;
	-ms-animation: spin 50s infinite linear;
	-o-animation: spin 50s infinite linear;
	animation: spin 50s infinite linear;
}

@-webkit-keyframes spin {
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
	to { -ms-transform: rotate(360deg); }
}

@-o-keyframes spin {
	to { -o-transform: rotate(360deg); }
}

@keyframes spin {
	to { transform: rotate(360deg); }
}



/*
==============================================
Alt Spin 2x
==============================================
*/

.spin-alt2x {
	-webkit-animation: spin-alt 25s infinite linear;
	-moz-animation: spin-alt 25s infinite linear;
	-ms-animation: spin-alt 25s infinite linear;
	-o-animation: spin-alt 25s infinite linear;
	animation: spin-alt 25s infinite linear;
}

/*
==============================================
Alt Spin
==============================================
*/

.spin-alt {
	-webkit-animation: spin-alt 50s infinite linear;
	-moz-animation: spin-alt 50s infinite linear;
	-ms-animation: spin-alt 50s infinite linear;
	-o-animation: spin-alt 50s infinite linear;
	animation: spin-alt 50s infinite linear;
}

@-webkit-keyframes spin-alt {
	to { -webkit-transform: rotate(-360deg); }
}

@-moz-keyframes spin-alt {
	to { -moz-transform: rotate(-360deg); }
}

@-ms-keyframes spin-alt {
	to { -ms-transform: rotate(-360deg); }
}

@-o-keyframes spin-alt {
	to { -o-transform: rotate(-360deg); }
}

@keyframes spin-alt {
	to { transform: rotate(-360deg); }
}

/*
==============================================
Letter Flash
==============================================
*/

.letterFlash {
	-webkit-animation-name: letter-flash;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 2400ms;
	-webkit-animation-duration: 3.2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: none;
}

@keyframes letter-flash {
	0% {opacity: 0.35}
	30% {opacity: 0.8}
	40% {opacity: 0.45}
	100% {opacity: 0.21}
}

@-webkit-keyframes letter-flash {
	0% {opacity: 0.35}
	30% {opacity: 0.8}
	40% {opacity: 0.45}
	100% {opacity: 0.21}
}

/*
==============================================
swing
==============================================
*/

.swing{
	animation-name: swing;
	-webkit-animation-name: swing;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes swing {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(50%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes swing {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(50%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

/*
==============================================
bounce
==============================================
*/

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes rgbshift {
  0% {
    text-shadow: 3px 5px 0px #bbb;
    box-shadow: 3px 5px 0px #bbb;
    opacity: 1;
  }
  4% {
    text-shadow: 1px 1px 0px rgba(255, 0, 0, 0.5),
      -3px -1px 0px rgba(0, 255, 0, 0.5),
      -1px 2px 0px rgba(0, 0, 255, 0.5);
    box-shadow: 1px 1px 0px rgba(255, 0, 0, 0.5),
      -3px -1px 0px rgba(0, 255, 0, 0.5),
      -1px 2px 0px rgba(0, 0, 255, 0.5);
    opacity: 1;
  }
  7% {
    text-shadow: 4px -1px 0px rgba(255, 0, 0, 0.5),
      -3px -1px 0px rgba(0, 255, 0, 0.5),
      1px -1px 0px rgba(0, 0, 255, 0.5);
    box-shadow: 4px -1px 0px rgba(255, 0, 0, 0.5),
      -3px -1px 0px rgba(0, 255, 0, 0.5),
      1px -1px 0px rgba(0, 0, 255, 0.5);
    opacity: 0.6;
  }
  9% {
    text-shadow: none;
    box-shadow: none;
    opacity: 1;
  }
  58% {
    text-shadow: none;
    box-shadow: none;
    opacity: 1;
  }
  59% {
    text-shadow: -3px -4px 0px #bbb;
    box-shadow: -3px -4px 0px #bbb;
    opacity: 0.6;
  }
  62% {
    text-shadow: 4px -1px 0px rgba(255, 0, 0, 0.5),
      -3px -1px 0px rgba(0, 255, 0, 0.5),
      1px -1px 0px rgba(0, 0, 255, 0.5);
    box-shadow: 4px -1px 0px rgba(255, 0, 0, 0.5),
      -3px -1px 0px rgba(0, 255, 0, 0.5),
      1px -1px 0px rgba(0, 0, 255, 0.5);
    opacity: 1;
  }
  67% {
    text-shadow: none;
    box-shadow: none;
  }
}
