body {
  background-image: url('../img/bordered.png');
  background-repeat: repeat-y;
  background-position: -225px center;
}

.site-wrapper {
  max-width: 400px;
}

.btn.btn-primary {
  font-family: $headings-font-family;
  .fas, .fab {
    &::before { opacity: .5; }
  }
}

.list-footer {
  a {
    font-family: $headings-font-family;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 15px;
    &::before {
      content: '+';
      color: $primary;
      font-weight: bold;
      padding-right: 5px;
    }
    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}
