.site-footer {
    position: relative;
    z-index: 10;
    //color: #1a1a1a;
    letter-spacing: 1.5px;
    //a { color: darken(#fafafa, 50%); }
    //a:hover { color: #1a1a1a;}

    &:before {
        content: ' ';
        display: block;
        height: 1px;
        width: 25px;
        background-color: $black;
        margin-bottom: 10px;
    }
}

@media all and (min-width:801px) {
    .site-footer {}
}
