// body { background-image: url('../img/bg.gif'); }


#wrapper {
  position: relative;
  z-index: 5;
  .site-nav {
    padding: 0;
    margin: 0;
  }
  //#content { overflow: hidden; }
}

.hidden { opacity: 0; height: 0;}


.layout-single-column {
  position: relative;
  z-index: 10;
  max-width: 600px;
  hr { animation: visible 0.2s, rgbshift 6s infinite; }

  & + & {
    padding-top: 25px;
    margin-top: 30px;
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      height: 10px;
      width: 1px;
      background-color: $white;
      animation: visible 0.2s, rgbshift 4s infinite;
    }
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      height: 1px;
      width: 10px;
      background-color: $white;
      animation: visible 0.2s, rgbshift 4s infinite;
    }
  }

  .image-wrap {
    margin: 40px 0;
    position: relative;
    .img-responsive {
      position: relative;
      z-index: 10;
      max-width: 100%;
    }
    &:before {
      content: ' ';
      position: absolute;
      top: -8px;
      left: -8px;
      z-index: 5;
      height: 25px;
      width: 25px;
    }
  }
}

code { }

@media all and (min-width:801px) {}
