.site-nav {
    margin: 0;
    .rings { height: 200px; }

    .vLine {
        background: #333;
        width: 5px;
        height: 24px;
        right: 0;
        top: -200px;
    }

    .sections-nav {
        li {
            margin: 0 0 5px 0;
            font-size: 13px;

            a {
                display: block;
                margin: 0 20px;
                height: 24px;
                text-decoration: none;
                text-transform: lowercase;
                letter-spacing: 1px;
                color: #ccc;
                transition: color .25s ease-in, background .25s ease-in, opacity .25s ease-in;
            }
        }
        .active {
            animation: visible 0.2s, rgbshift 4s infinite;
        }
        li:hover a,
        .active a {
            color: #333;
            border-color: #333;

        }
    }
}

.page-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    margin-right: 2px;
}


@media all and (min-width:801px) {
    .site-nav {
        .sections-nav {
            li {
                a {
                  border-bottom: 1px solid #ccc;
                }
            }
        }
    }
}
