.site-nav {
  margin: 0;
  //position: fixed;
  left: 0;
  top: 30%;
  position: relative;
  z-index: 10;
  .vLine {
    background: rgba($nav-color, .95);
    width: 5px;
    height: 30px;
    right: 3rem;
    top: -200px;
  }
  .sections-nav {
    border-right: 1px solid rgba($nav-color, .15);
    li {
      margin: 0 0 8px;
      font-size: 18px;
      font-family: $headings-font-family;

      a {
        display: inline-block;
        margin: 0 20px;
        height: 22px;
        font-weight: 300;
        text-decoration: none;
        text-transform: lowercase;
        letter-spacing: 3px;
        color: $nav-color;
        transition: all .25s ease-in;
        position: relative;
        z-index: 5;
      }
      &:hover a {
        color: $secondary;
        border-color: $secondary;
      }
    }
    .active {
      animation: visible 0.2s, rgbshift 4s infinite;
      a {
        color: $white;
        &:before {
          content: '';
          background-color: rgba($link-color, 1);
          position: absolute;
          bottom: 0px;
          right: 0;
          height: 15px;
          width: 125%;
          z-index: -1;
        }
      }

    }

  }
}

.page-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  margin-right: 2px;
}

@media all and (min-width:801px) {
  .site-nav {
    .sections-nav {
      li {
        a {
          //border-bottom: 1px solid #ccc;
        }
      }
    }
  }
}
