.portfolio-item {
  margin-bottom: 20px;

  .portfolio-item-inner {
    background-color: $white;
    .h6, .h4 {
      position: absolute;
      bottom: 18px;
      left: -8px;
      right: 24px;
      z-index: 10;
      background-color: rgba($white, .75);
      padding: 10px;
      color: $white;

    }
  }
  &.col-12 {
    .portfolio-item-inner {
      .h6, .h4 {
        right: 50%;
        left: -20px;
      }
      &.odd {
        .h6, .h4 {
          left: 50%;
          right: -20px;
        }
      }
    }
  }

  &.col-6 {
    .portfolio-item-inner {
      .h6, .h4 {
        opacity: 0;
      }

    }
  }

  .thumbnail {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    filter: grayscale(100%);
    opacity: .25;
    & > p {opacity: 0;}
    &:hover {
      opacity: .95;
    }
  }
}
