$ring-1: 560px;
$ring-2: 450px;
$ring-3: 432px;
$ring-4: 416px;
$ring-5: 392px;
$ring-6: 360px;
$ring-7: 318px;

$ring-lg: 1;
$ring-md: .25;

/* Sizes */
$ring-small-1: 230px;
$ring-small-2: 190px;

$ring-medium-1: $ring-1 * $ring-md;
$ring-medium-2: $ring-2 * $ring-md;
$ring-medium-3: $ring-3 * $ring-md;
$ring-medium-4: $ring-4 * $ring-md;
$ring-medium-5: $ring-5 * $ring-md;
$ring-medium-6: $ring-6 * $ring-md;
$ring-medium-7: $ring-7 * $ring-md;

$ring-large-1: $ring-1 * $ring-lg;
$ring-large-2: $ring-2 * $ring-lg;
$ring-large-3: $ring-3 * $ring-lg;
$ring-large-4: $ring-4 * $ring-lg;
$ring-large-5: $ring-5 * $ring-lg;
$ring-large-6: $ring-6 * $ring-lg;
$ring-large-7: $ring-7 * $ring-lg;

.rings { display: block; }

.rings-small {
    position: relative;
    height: 230px;
    width: 230px;
    margin: 0 auto;

    .ring {
        position: absolute;
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .one {
        width: $ring-small-1;
        height: $ring-small-1;
        background-size: $ring-small-1 $ring-small-1;
        background-image: url('../img/rings/ring_01.png');
        top: 0; right: 0;
    }

    .two {
        width: $ring-small-2;
        height: $ring-small-2;
        background-size: $ring-small-2 $ring-small-2;
        background-image: url('../img/rings/ring_05.png');
        top: 20px; right: 20px;
    }


}


.rings-medium {
    position: relative;
    height: 450px;
    margin: 0 auto;

    .debug {background-color: rgba(255,255,255,0.1);}

    .ring {
        position: absolute;
        left: 0;
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }

    .one {
        width: $ring-medium-1;
        height: $ring-medium-1;
        background-size: $ring-medium-1 $ring-medium-1;
        background-image: url('../img/rings/ring_01.png');
        top: 0; left: 0;
    }

    .two {
        width: $ring-medium-2;
        height: $ring-medium-2;
        background-size: $ring-medium-2 $ring-medium-2;
        background-image: url('../img/rings/ring_02.png');
        top: (($ring-medium-1 - $ring-medium-2) / 2); left: (($ring-medium-1 - $ring-medium-2) / 2);
    }

    .three {
        width: $ring-medium-3;
        height: $ring-medium-3;
        background-size: $ring-medium-3 $ring-medium-3;
        background-image: url('../img/rings/ring_03.png');
        top: (($ring-medium-1 - $ring-medium-3) / 2); left: (($ring-medium-1 - $ring-medium-3) / 2);
    }

    .four {
        width: $ring-medium-4;
        height: $ring-medium-4;
        background-size: $ring-medium-4 $ring-medium-4;
        background-image: url('../img/rings/ring_04.png');
        top: (($ring-medium-1 - $ring-medium-4) / 2); left: (($ring-medium-1 - $ring-medium-4) / 2);
    }

    .five {
        width: $ring-medium-5;
        height: $ring-medium-5;
        background-size: $ring-medium-5 $ring-medium-5;
        background-image: url('../img/rings/dash_01.png');
        top: (($ring-medium-1 - $ring-medium-5) / 2); left: (($ring-medium-1 - $ring-medium-5) / 2);
    }

    .six {
        width: $ring-medium-6;
        height: $ring-medium-6;
        background-size: $ring-medium-6 $ring-medium-6;
        background-image: url('../img/rings/dash_02.png');
        top: (($ring-medium-1 - $ring-medium-6) / 2); left: (($ring-medium-1 - $ring-medium-6) / 2);
    }

    .seven {
        width: $ring-medium-7;
        height: $ring-medium-7;
        background-size: $ring-medium-7 $ring-medium-7;
        background-image: url('../img/rings/ring_05.png');
        top: (($ring-medium-1 - $ring-medium-7) / 2); left: (($ring-medium-1 - $ring-medium-7) / 2);
    }

}


.rings-large {
    position: relative;
    height: 560px;
    margin: 0 auto;

    .ring {
        position: absolute;
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .one {
        width: $ring-large-1;
        height: $ring-large-1;
        background-size: $ring-large-1 $ring-large-1;
        background-image: url('../img/rings/ring_01.png');
        top: 0; right: 0;
    }

    .two {
        width: $ring-large-2;
        height: $ring-large-2;
        background-size: $ring-large-2 $ring-large-2;
        background-image: url('../img/rings/ring_02.png');
        top: (($ring-large-1 - $ring-large-2) / 2); right: (($ring-large-1 - $ring-large-2) / 2);

    }

    .three {
        width: $ring-large-3;
        height: $ring-large-3;
        background-size: $ring-large-3 $ring-large-3;
        background-image: url('../img/rings/ring_03.png');
        top: (($ring-large-1 - $ring-large-3) / 2); right: (($ring-large-1 - $ring-large-3) / 2);
    }

    .four {
        width: $ring-large-4;
        height: $ring-large-4;
        background-size: $ring-large-4 $ring-large-4;
        background-image: url('../img/rings/ring_04.png');
        top: (($ring-large-1 - $ring-large-4) / 2); right: (($ring-large-1 - $ring-large-4) / 2);
    }

    .five {
        width: $ring-large-5;
        height: $ring-large-5;
        background-size: $ring-large-5 $ring-large-5;
        background-image: url('../img/rings/dash_01.png');
        top: (($ring-large-1 - $ring-large-5) / 2); right: (($ring-large-1 - $ring-large-5) / 2);
    }

    .six {
        width: $ring-large-6;
        height: $ring-large-6;
        background-size: $ring-large-6 $ring-large-6;
        background-image: url('../img/rings/dash_02.png');
        top: (($ring-large-1 - $ring-large-6) / 2); right: (($ring-large-1 - $ring-large-6) / 2);
    }

    .seven {
        width: $ring-large-7;
        height: $ring-large-7;
        background-size: $ring-large-7 $ring-large-7;
        background-image: url('../img/rings/ring_05.png');
        top: (($ring-large-1 - $ring-large-7) / 2); right: (($ring-large-1 - $ring-large-7) / 2);
    }
}

.no-backgroundsize {
    .ring, .one, .two, .three, .four,
    .five,.six, .seven {background-image: none; display: none;}
    .rings-small {background-image: url('../img/rings/ring_static_small.png');}
    .rings-medium {background-image: url('../img/rings/ring_static_medium.png');}
    .rings-large {background-image: url('../img/rings/ring_static_large.png');}
}

@media all and (max-width:800px) {
    .rings-medium,
    .rings-large {
        position: relative;
        height: 230px;
        width: 230px;
        margin: 0 auto;

        .ring {
            position: absolute;
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .one {
            width: $ring-small-1;
            height: $ring-small-1;
            background-size: $ring-small-1 $ring-small-1;
            background-image: url('../img/rings/ring_01.png');
            top: 0; left: 0;
        }

        .seven {
            width: $ring-small-2;
            height: $ring-small-2;
            background-size: $ring-small-2 $ring-small-2;
            background-image: url('../img/rings/ring_05.png');
            top: 20px; left: 20px;
        }

        .two, .three, .four, .five, .six {display: None;}

    }

    .no-backgroundsize {
        .ring, .one, .two, .three, .four,
        .five,.six, .seven {background-image: none; display: none;}
        .rings-medium,
        .rings-large {background-image: url('../img/rings/ring_static_small.png');}
    }
}
