//Colors:
$green: #00ff00 !default;
$blue: #00FFFF !default;
$pink: #FF32AD !default;
$yellow: #ffdd65 !default;
$white: #fff;

// Bootstrap overrides
$primary: #c6b13c !default;
$secondary: #000 !default;
$body-bg: #EBEBE5 !default;
$body-color: #231f20 !default;
$link-color: $secondary;
$font-size-base: 1rem !default;
$font-family-sans-serif: "europa", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace: "ubuntu-mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$headings-font-family: "futura-pt", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$grid-gutter-width-base: 20px !default;
$border-radius: 0 !default;
$border-radius-lg: 0 !default;
$border-radius-sm: 0 !default;

//$code-color: $secondary;

$pagination-color: $white !default;
$pagination-bg: $primary !default;
$pagination-border-width: 1px !default;
$pagination-border-color: transparent !default;

// Font Awesome
$fa-font-path: "../fonts" !default;

$pace-color: $primary;
