//Colors:
$green: #00ff00;
$blue: #00FFFF;
$pink: #FF32AD;
$white: #fff;


$pace-color: $blue;
$site-primary: $blue;
$site-secondary: $green;
$site-secondary-alt: $green;
$site-highlight: $pink;


// Bootstrap overrides
$brand-primary: #333 !default;
$link-color: #000;
$fa-font-path: "../fonts" !default;
$font-family-sans-serif: "proxima-nova", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace: "ubuntu-mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$headings-font-family: $font-family-monospace;
$grid-gutter-width-base: 20px !default;
$border-radius: 0;

$pagination-color: $white !default;
$pagination-bg: $brand-primary !default;
$pagination-border-width: 1px !default;
$pagination-border-color: transparent !default;
