@media (max-width: 800px) {
    .preamble {
        font-size: 12px;
    }
    .tagline {
        font-size: 45px;
    }
}
@media (max-width: 400px) {
    .wrapper-inner {
        margin-top: 8%;
    }
    .preamble {
        font-size: 11px;
    }
    .tagline {
        font-size: 32px;
    }
}
