
//Colors:
$green: #00ff00;
$blue: #00FFFF;
$pink: #FF32AD;
$yellow: #ffdd65;
$white: #fff;

// Bootstrap overrides
$primary: #ff0052;
$secondary: #612a46;
$body-bg: #e7e7e2;
$body-color: #000;
$link-color: #000;
$font-size-base: 1rem;
$font-family-sans-serif: rubik, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-family: brandon-grotesque, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$grid-gutter-width-base: 20px;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

//$code-color: $secondary;

$pagination-color: $white;
$pagination-bg: $primary;
$pagination-border-width: 1px;
$pagination-border-color: transparent;

$carousel-caption-width:  90%;
$carousel-control-width: 5%;

$enable-gradients: false;
