<footer class="site-footer col-md-6 offset-md-5 py-4">
  {% include social.html %}
  <small class="copyright">Copyright &copy; 2002–2018. Last <a href="https://github.com/underlost/tyler.codes/">updated {{ site.time | date: "%B %d, %Y" }}</a>.</small>
</footer>

<div class="background">
  <css-doodle>
      :doodle {
        @grid: 50x1 / 50px 100vh;
        min-width: 5vw;
      }
      margin: 2px 0 2px auto;
      background: #fff;
      width: @rand(10%, 100%);
      will-change: transform;
      transition: .5s;
    </css-doodle>
</div>
