<header role="masthead" id="underlost-info" class="site-header fadeRight layout-foreground sr-only">
  <a class="logo" href="/"><img src="/assets/img/logo_alt.png" width="24" height="24" alt="Site Logo"></a>
  <h1 class="sr-only"><a href="{{site.url}}" rel="home">Tyler.Codes by Tyler Rilling</a></h1>
</header>

<nav class="site-nav position-fixed col-md-4 mr-md-5">
  <ul class="sections-nav list-unstyled text-right py-3">
    <li class="about-url selected">
      <a class="pjax site-nav-about" data-section="colophon" href="/">About</a>
    </li>
    <li class="portfolio-url">
      <a class="pjax site-nav-portfolio" data-section="works" href="/portfolio/">Selected Works</a>
    </li>
    <li class="contact-url">
      <a class="pjax site-nav-contact" data-section="contact" href="/contact/">Contact</a>
    </li>
    <li class="job-url">
      <a class="pjax site-nav-work" data-section="work" href="/work/">Availability</a>
    </li>
  </ul>
</nav>
