<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tyler.Codes</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Tyler Rilling">
	<meta name="google-site-verification" content="lieRUh4p5DmM1FG2huzVceW8UC7-W6FPwc3xmI9mk2s" />
	<link rel="canonical" href="http://tyler.codes{{ page.url | replace:'index.html','' }}" />
    <link type="text/plain" rel="author" href="/humans.txt" />
	<link href="/dist/css/underlost.min.css" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="/dist/ico/favicon.ico">

	<script type="text/javascript" src="//use.typekit.net/qvg2llb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-6523793-1']);
	_gaq.push(['_setDomainName', 'tyler.codes']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>

</head>

<body>

	<div class="wrapper">
		{{ content }}
	</div>

	<!-- Le javascript -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="/dist/js/underlost.min.js"></script>

</body>
</html>
